In [1]:
! pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\pvashishtha\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\pvashishtha\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)

In [2]:
import mysql.connector

In [10]:
# parameters setting
host='localhost'
user='root'
password=''
database='adi'
port=3306

In [11]:
# connection
try:
    conn=mysql.connector.connect(host=host,
                                user=user,
                                password=password,
                                database=database,
                                port=port)
    print(conn)
except:
    print('Database not connected!')

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000023581300EB0>

In [12]:
# cursor
try:
    cur=conn.cursor()
    print(cur)
except:
    print('Cursor not created!')

CMySQLCursor: (Nothing executed yet)

In [13]:
# insert
sql='insert into product values(101, "maggie", 12.50)'

In [14]:
cur.execute(sql)

In [15]:
conn.commit()

In [17]:
pname='bread'
price=55.0
sql=f'insert into product values(103, "{pname}", {price})'
cur.execute(sql)
conn.commit()

In [18]:
# update
sql='update product set price=81.70 where pid=102'
cur.execute(sql)
conn.commit()

In [19]:
# read one at a time
sql='select * from product'
cur.execute(sql)

In [30]:
result=cur.fetchone()

In [31]:
type(result)

NoneType

In [32]:
print(f'PID: {result[0]}\nPNAME: {result[1]}\nPRICE: {result[2]}')

TypeError: 'NoneType' object is not subscriptable

In [33]:
# all result at once
sql='select * from product'
cur.execute(sql)

In [34]:
resultset=cur.fetchall()

In [35]:
for result in resultset:
    print(f'PID: {result[0]}\nPNAME: {result[1]}\nPRICE: {result[2]}')
    print('-'*30)

PID: 101
PNAME: maggie
PRICE: 12.5
------------------------------
PID: 102
PNAME: rice
PRICE: 81.7
------------------------------
PID: 103
PNAME: bread
PRICE: 55.0
------------------------------

In [36]:
type(resultset)

list

In [37]:
print(resultset)

[(101, 'maggie', 12.5), (102, 'rice', 81.7), (103, 'bread', 55.0)]

In [38]:
# delete
sql='delete from product where pid=103'
cur.execute(sql)
conn.commit()

In [39]:
# insertMany()
sql='insert into product values(%s, %s, %s)'
vals=[
    (104, "atta", 35.0),
    (105, "toothpaste", 79.50),
    (106, "butter", 38.0)
]

In [41]:
cur.executemany(sql, vals)
conn.commit()

In [42]:
# truncate
sql='truncate table product'
cur.execute(sql)
conn.commit()

In [43]:
# drop
sql='drop table product'
cur.execute(sql)
conn.commit()

### CSV

In [44]:
import csv

In [54]:
file=open('C:\\Users\\pvashishtha\\Desktop\\myfile.csv', 'r')
data=csv.reader(file, delimiter=',')

In [55]:
data

In [56]:
for row in data:
    print(row[0], row[1], row[2])

NAME MARKS CLASS
prateek 90 1
aditi 95 1
dolly 73 2
saksham 54 3

In [62]:
file=open('C:\\Users\\pvashishtha\\Desktop\\myfile.csv', 'r')
data=csv.DictReader(file, delimiter=',')

In [63]:
data

In [64]:
for row in data:
    print(row['NAME'], row['MARKS'], row["CLASS"])

prateek 90 1
aditi 95 1
dolly 73 2
saksham 54 3

In [65]:
# writing to CSV

In [96]:
file=open('new_myfile.csv', 'a')

In [97]:
#data=[{'PRODUCT','PRICE'},{'maggie', 20},{'atta', 60}]

In [98]:
writer=csv.writer(file)

In [99]:
#writer.writerows(data)

In [100]:
product, price = input('Product: '),int(input('Price: '))
writer.writerow([product, price])

Product: bread
Price: 45

10

In [101]:
file.close()

In [112]:
file=open('myfile2.csv', 'w')
dw=csv.DictWriter(file, fieldnames=['PRODUCT','PRICE'])
data=[{'PRODUCT':'maggie', 'PRICE':20},{'PRODUCT':'atta', 'PRICE':60}]
dw.writeheader()
dw.writerows(data)
file.close()

### JSON

In [114]:
import json

In [118]:
with open('mydata.json','r') as file:
    data=json.load(file)
    print(data)

{'1': {'product': 'butter', 'price': 120}, '2': {'product': 'cheese', 'price': 270}, '3': {'product': 'jam', 'price': 180}}

In [116]:
type(data)

dict

In [119]:
with open('mydata.json','r') as file:
    data=file.read()
    json_data=json.loads(data)
    print(json_data)

{'1': {'product': 'butter', 'price': 120}, '2': {'product': 'cheese', 'price': 270}, '3': {'product': 'jam', 'price': 180}}

In [120]:
json_data.keys()

dict_keys(['1', '2', '3'])

In [123]:
json_data["1"]['product']

'butter'

In [124]:
json_data["1"]['price']

120

In [127]:
for key in json_data.keys():
    print(f'Product: {json_data[key]["product"]}, ', end=' ')
    print(f'Price: {json_data[key]["price"]}')
    print('-'*30)

Product: butter,  Price: 120
------------------------------
Product: cheese,  Price: 270
------------------------------
Product: jam,  Price: 180
------------------------------

In [128]:
data

'{\n    "1":{"product":"butter","price":120},\n    "2":{"product":"cheese","price":270},\n    "3":{"product":"jam","price":180}\n}'

In [132]:
with open('myadata3.json', 'w') as file:
    json.dump(json_data, file, indent=3)