### Lambda Functions
Lambda functions are anonymous functions that can accept any number of args but executes a single statement or expr

In [1]:
def myfun(x):
    x=x+10
    return x

In [2]:
myfun(10)

20

In [3]:
f=myfun(5)

In [4]:
f

15

In [5]:
f=myfun

In [6]:
f

In [7]:
f(2)

12

In [8]:
# lambda

# lambda <args> : <stmt/expr>

In [9]:
f=lambda x: x**2
f

In [10]:
f(3)

9

In [28]:
def power(y):
    return lambda x: x**y

In [29]:
power(2) # lambda x, 2 : x**2

In [30]:
p2=power(2) # lambda x, 2 : x**2
p3=power(3) # lambda x, 3 : x**3
p4=power(4) # lambda x, 4 : x**4

In [33]:
p2(9)

81

In [34]:
p3(3)

27

In [35]:
p4(3)

81

In [36]:
# MAP
 # map(user_map_function, iterable) - returns map object
    # li=[1,2,3,4,5]

In [37]:
def mymap(x):
    return x**2

In [39]:
li=[1,2,3,4,5]
values=map(mymap, li)

In [40]:
list(values)

[1, 4, 9, 16, 25]

In [43]:
# map() with lambda
list(map(lambda x: x+5, li))

[6, 7, 8, 9, 10]

In [44]:
# Filter
    # filter(user_filter_function, iterable)

In [49]:
def myfilter(x):
    return x>5

In [50]:
vals=filter(myfilter, [1,2,5,4,6,8,7,9,3,10])

In [51]:
list(vals)

[6, 8, 7, 9, 10]

In [56]:
# filter() with lambda
list(filter(lambda x:x<6, [1,2,5,4,6,8,7,9,3,10]))

[1, 2, 5, 4, 3]

In [57]:
# reduce()
    # reduce(user_agg_func, iterable)

In [58]:
def myagg(x, y):
    return x+y

In [59]:
from functools import reduce

In [60]:
reduce(myagg, [1,2,5,4,6,8,7,9,3,10])

55

In [62]:
# reduce() with lambda
reduce(lambda x, y: x*y, [1,2,5,4,6,8,7,9,3,10])

3628800

### List Comprehension

In [63]:
li=[1,2,3,4,5]

In [67]:
li=[e for e in range(1,101) if e%2==0]
print(li)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [68]:
li=[x for x in range(10)]
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
li=[int(x) for x in input()]
li

12345

[1, 2, 3, 4, 5]

In [70]:
# tertiary operation
x=7
y= True if x%2==0 else False
y

False

In [72]:
li=[chr(x) for x in range(65, 91)]
print(li)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [82]:
li=[chr(x) for x in range(65, 91) if (x-64)%5==0]
print(li)

['E', 'J', 'O', 'T', 'Y']

In [83]:
# multiple returns

In [84]:
# zip(iter1, iter2)

In [85]:
li1=[1,2,3,4,5]
li2=[10,20,30,40,50]

for indx in range(len(li)):
    print(li1[indx], li2[indx])

1 10
2 20
3 30
4 40
5 50

In [87]:
for x, y in zip(li1, li2):
    print((x,y))

(1, 10)
(2, 20)
(3, 30)
(4, 40)
(5, 50)

In [88]:
li=[(x,y) for x,y in zip(li1, li2)]
print(li)

[(1, 10), (2, 20), (3, 30), (4, 40), (5, 50)]

In [90]:
li=[(a,b) for a in range(10) for b in range(90,100)]
print(li)

[(0, 90), (0, 91), (0, 92), (0, 93), (0, 94), (0, 95), (0, 96), (0, 97), (0, 98), (0, 99), (1, 90), (1, 91), (1, 92), (1, 93), (1, 94), (1, 95), (1, 96), (1, 97), (1, 98), (1, 99), (2, 90), (2, 91), (2, 92), (2, 93), (2, 94), (2, 95), (2, 96), (2, 97), (2, 98), (2, 99), (3, 90), (3, 91), (3, 92), (3, 93), (3, 94), (3, 95), (3, 96), (3, 97), (3, 98), (3, 99), (4, 90), (4, 91), (4, 92), (4, 93), (4, 94), (4, 95), (4, 96), (4, 97), (4, 98), (4, 99), (5, 90), (5, 91), (5, 92), (5, 93), (5, 94), (5, 95), (5, 96), (5, 97), (5, 98), (5, 99), (6, 90), (6, 91), (6, 92), (6, 93), (6, 94), (6, 95), (6, 96), (6, 97), (6, 98), (6, 99), (7, 90), (7, 91), (7, 92), (7, 93), (7, 94), (7, 95), (7, 96), (7, 97), (7, 98), (7, 99), (8, 90), (8, 91), (8, 92), (8, 93), (8, 94), (8, 95), (8, 96), (8, 97), (8, 98), (8, 99), (9, 90), (9, 91), (9, 92), (9, 93), (9, 94), (9, 95), (9, 96), (9, 97), (9, 98), (9, 99)]

In [91]:
# sort()

In [93]:
t=(5,4,3,2,1)
t.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [94]:
li=[9,8,7,6,5,4,3,2,1,0]
li.sort()
print(li)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [97]:
li=[1,2,5,3,7,9,4,2,1]
li.sort(reverse=True)
print(li)

[9, 7, 5, 4, 3, 2, 2, 1, 1]

In [98]:
# sorted(iterable)

In [99]:
li=[5,4,3,2,1]
print(sorted(li))
print(li)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [100]:
li=(5,4,3,2,1)
print(sorted(li))
print(li)

[1, 2, 3, 4, 5]
(5, 4, 3, 2, 1)

In [106]:
d={1:10, 2:20, 3:30, 4:40, 5:50}
print(sorted(d))
d

[1, 2, 3, 4, 5]

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}

In [107]:
d={1:10, 2:20, 3:30, 4:40, 5:50}
print(sorted(d.values()))
d

[10, 20, 30, 40, 50]

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}

In [108]:
d={1:10, 2:20, 3:30, 4:40, 5:50}
print(sorted(d.values(), reverse=True))
d

[50, 40, 30, 20, 10]

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}